
<div class="container">
    <div class = "page-header">
        <h3>Your cart</h3>
    </div>
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..."
                                                         class="img-responsive"/></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin">Nokia 1200</h4>
                        <h5 class="media-heading"> by <a href="#">Nokia</a></h5>
                    </div>
                </div>
            </td>
            <td data-th="Price">$1.99</td>
            <td data-th="Quantity">
                <input type="number" class="form-control text-center" value="1">
            </td>
            <td data-th="Subtotal" class="text-center">1.99</td>
            <td class="actions" data-th="">
                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td><h5>Subtotal</h5></td>
            <td class="text-right"><h5><strong>$24.59</strong></h5></td>
        </tr>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td><h5>Estimated shipping</h5></td>
            <td class="text-right"><h5><strong>$6.94</strong></h5></td>
        </tr>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td><h3>Total</h3></td>
            <td class="text-right"><h3><strong>$31.53</strong></h3></td>
        </tr>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-success">
                    Checkout <span class="glyphicon glyphicon-play"></span>
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>