<footer class="footer-distributed">

    <div class="footer-left">
        <div class="site-logo">
            <h3>My<span>Shop</span></h3>
        </div>


        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">My Shop &copy; 2015</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>75 Giai Phong Street</span>Hanoi</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>04 357 18889</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@myshop.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <div id="map">
            <img class="img-responsive"
                              src="http://maps.googleapis.com/maps/api/staticmap?center=51.378091,-0.7992599&zoom=17&size=400x350&sensor=false&markers=51.378091,-0.7992599&scale=2"/>
        </div>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>