<div class="jumbotron" id="home">
    <div class="container">
        <h1> Electronic Shop</h1>
        <h2> Get everything you want</h2>
        <p><a class="btn">Join us now</a></p>
    </div>
</div>
<div class="container featured">
    <div class="page-header">
        <h3>Featured products</h3>
    </div>
    <div class="products">
        <div class='col-sm-3'>
            <div class="product">
                <div class="product-images img-responsive img-thumbnail">
                    <img src="../images/bike.jpg"/>
                </div>
                <a href="#/info"><h5 class="product-title">Sport bike</h5></a>
                <span class="pull-right product-price"><h6>$42</h6></span>
                <div class="clearfix"></div>
                <button class="btn add-to-cart">Add to cart</button>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="product">
                <div class="product-images img-responsive img-thumbnail">
                    <img src="../images/macbook.jpg"/>
                </div>
                <a href="#/info"><h5 class="product-title">Macbook Pro</h5></a>
                <span class="pull-right product-price"><h6>$2000</h6></span>
                <div class="clearfix"></div>
                <button class="btn add-to-cart">Add to cart</button>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="product">
                <div class="product-images img-responsive img-thumbnail">
                    <img src="../images/hard-drive.jpg"/>
                </div>
                <a href="#/info"><h5 class="product-title">External hard drive</h5></a>
                <span class="pull-right product-price"><h6>$800</h6></span>
                <div class="clearfix"></div>
                <button class="btn add-to-cart">Add to cart</button>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="product">
                <div class="product-images img-responsive img-thumbnail">
                    <img src="../images/hard-drive.jpg"/>
                </div>
                <a href="#/info"><h5 class="product-title">External hard drive</h5></a>
                <span class="pull-right product-price"><h6>$800</h6></span>
                <div class="clearfix"></div>
                <button class="btn add-to-cart">Add to cart</button>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="product">
                <div class="product-images img-responsive img-thumbnail">
                    <img src="../images/hard-drive.jpg"/>
                </div>
                <a href="#/info"><h5 class="product-title">External hard drive</h5></a>
                <span class="pull-right product-price"><h6>$800</h6></span>
                <div class="clearfix"></div>
                <button class="btn add-to-cart">Add to cart</button>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="product">
                <div class="product-images img-responsive img-thumbnail">
                    <img src="../images/hard-drive.jpg"/>
                </div>
                <a href="#/info"><h5 class="product-title">External hard drive</h5></a>
                <span class="pull-right product-price"><h6>$800</h6></span>
                <div class="clearfix"></div>
                <button class="btn add-to-cart">Add to cart</button>
            </div>
        </div>

    </div>

</div>