<div class="container">
    <div class="page-header">
        <h3>All products</h3>
    </div>
    <div class="row">
        <div class="category-list col-sm-3">
            <!-- Category -->
            <div class="single category">
                <h3 class="side-title">Category</h3>
                <ul class="list-unstyled">
                    <li><a href="" title="">Nokia <span class="num-devices badge">13</span></a></li>
                    <li><a href="" title="">Samsung <span class="num-devices badge">13</span></a></li>
                    <li><a href="" title="">Iphone <span class="num-devices badge">13</span></a></li>
                    <li><a href="" title="">HTC <span class="num-devices badge">13</span></a></li>
                    <li><a href="" title="">Nexus <span class="num-devices badge">13</span></a></li>
                    <li><a href="" title="">Motorola <span class="num-devices badge">13</span></a></li>
                    <li><a href="" title="">Blackberry <span class="num-devices badge">13</span></a></li>
                    <li><a href="" title="">Huawei <span class="num-devices badge">13</span></a></li>
                </ul>
            </div>
        </div>
        <div class="products col-sm-9">
            <div class='col-sm-4 col-md-3 col-lg-3'>
                <div class="product">
                    <div class="product-images img-thumbnail">
                        <img class = "img-responsive"src="../images/bike.jpg"/>
                    </div>
                    <h5 class="product-title">Sport bike</h5>
                    <span class="pull-right product-price"><h6>$42</h6></span>
                    <div class="clearfix"></div>
                    <button class="btn add-to-cart">Add to cart</button>
                </div>
            </div>
            <div class='col-sm-4 col-md-3 col-lg-3'>
                <div class="product">
                    <div class="product-images img-thumbnail">
                        <img class = "img-responsive"src="../images/macbook.jpg"/>
                    </div>
                    <h5 class="product-title">Macbook Pro</h5>
                    <span class="pull-right product-price"><h6>$2000</h6></span>
                    <div class="clearfix"></div>
                    <button class="btn add-to-cart">Add to cart</button>
                </div>
            </div>
            <div class='col-sm-4 col-md-3 col-lg-3'>
                <div class="product">
                    <div class="product-images img-thumbnail">
                        <img class = "img-responsive"src="../images/hard-drive.jpg"/>
                    </div>
                    <h5 class="product-title">External hard drive</h5>
                    <span class="pull-right product-price"><h6>$800</h6></span>
                    <div class="clearfix"></div>
                    <button class="btn add-to-cart">Add to cart</button>
                </div>
            </div>
            <div class='col-sm-4 col-md-3 col-lg-3'>
                <div class="product">
                    <div class="product-images img-thumbnail">
                        <img class = "img-responsive"src="../images/hard-drive.jpg"/>
                    </div>
                    <h5 class="product-title">External hard drive</h5>
                    <span class="pull-right product-price"><h6>$800</h6></span>
                    <div class="clearfix"></div>
                    <button class="btn add-to-cart">Add to cart</button>
                </div>
            </div>
            <div class='col-sm-4 col-md-3 col-lg-3'>
                <div class="product">
                    <div class="product-images img-thumbnail">
                        <img class = "img-responsive"src="../images/hard-drive.jpg"/>
                    </div>
                    <h5 class="product-title">External hard drive</h5>
                    <span class="pull-right product-price"><h6>$800</h6></span>
                    <div class="clearfix"></div>
                    <button class="btn add-to-cart">Add to cart</button>
                </div>
            </div>
            <div class='col-sm-4 col-md-3 col-lg-3'>
                <div class="product">
                    <div class="product-images img-thumbnail">
                        <img class = "img-responsive"src="../images/hard-drive.jpg"/>
                    </div>
                    <h5 class="product-title">External hard drive</h5>
                    <span class="pull-right product-price"><h6>$800</h6></span>
                    <div class="clearfix"></div>
                    <button class="btn add-to-cart">Add to cart</button>
                </div>
            </div>
        </div>

    </div>
</div>